body {
    background-image: url("stormy-weather-background.jpg");
    color: white;
}
#device {
    float: right;
}
.topbox {
    background-color: rgb(0, 0, 0, 0.5);
    height: 75px;
}
.innerbox {
    border: 2px solid white;
    text-align: center;
}

.outerbox {
    border: 2px solid white;
    padding: 1px;
    width: 33%;
    margin: 40px;
}